{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% block contents %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 class="text-danger">{% trans 'Blog' %}</h1>
                    <nav class="d-flex align-items-center">
                        <a class="text-danger" href="{% url 'front:home' %}">{% trans 'Home' %}<span
                                class="lnr lnr-arrow-right"></span></a>
                        <a class="text-danger" href="">{% trans 'Blog' %}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="" alt="" id="blog-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list">
                                    <li><a id="author-info" class="text-capitalize"><i
                                            class="lnr lnr-user"></i></a><a><i
                                            class="lnr lnr-user"></i></a></li>
                                    <li><a id="updated-at"><i class="lnr lnr-calendar-full"></i></a><a><i
                                            class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a id="views-count"><i class="lnr lnr-eye"></i></a><a><i
                                            class="lnr lnr-eye"></i></a></li>
                                    <li><a id="comments-count"><i class="lnr lnr-bubble"></i></a><a><i
                                            class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2 id="blog-title"></h2>
                            <p class="excert" id="blog-body"></p>
                        </div>
                    </div>

                    <div class="comments-area">
                        <h4>Comments</h4>
                        <div class="comment-list" id="comment-list"></div>
                    </div>
                    <div class="comment-form">
                        <h4>Leave a Comment</h4>
                        <form id="commentForm">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Subject'">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" name="message" id="message" placeholder="Messege"
                                          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
                                          required=""></textarea>
                            </div>
                            <button type="submit" class="primary-btn submit_btn">Post Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        fetch('/blog/blogs/{{ id }}/')
            .then(response => response.json())
            .then(data => {
                console.log(data.thumbnail)
                document.getElementById('blog-thumbnail').src = data.thumbnail;
                document.getElementById('blog-title').textContent = data.title;
                document.getElementById('blog-body').textContent = data.body;
                document.getElementById('author-info').textContent = `${data.author.first_name} ${data.author.last_name}`
                const options = {year: 'numeric', month: 'short', day: 'numeric'};
                document.getElementById('updated-at').textContent = new Date(data.updated_at).toLocaleDateString(undefined, options);
                document.getElementById('views-count').textContent = data.views + "{% trans ' Views' %}";
                document.getElementById('comments-count').textContent = data.comments_count + "{% trans ' Comments' %}";
            })
            .catch(error => console.error('Error fetching blog details:', error));

        fetch('/blog/blogs/{{ id }}/comments/')
            .then(response => response.json())
            .then(comments => {
                const commentList = document.getElementById('comment-list');
                comments.forEach(comment => {
                    const div = document.createElement('div');
                    div.className = 'single-comment justify-content-between d-flex';
                    const options = {year: 'numeric', month: 'short', day: 'numeric'};
                    div.innerHTML = `
                    <div class="user justify-content-between d-flex">
                        <div class="desc">
                            <p class="text-capitalize m-0"><a>${comment.customer.first_name} ${comment.customer.last_name}</a></p>
                            <p class="date">${new Date(comment.created_at).toLocaleDateString(undefined, options)}</p>
                            <h6>${comment.subject}</h6>
                            <p class="comment">${comment.message}</p>
                        </div>
                    </div>
                `;
                    commentList.appendChild(div);
                });
            })
            .catch(error => console.error('Error fetching comments:', error));




        function getToken() {
            return localStorage.getItem('JWT');
        }

        function makeAuthenticatedRequest(url, method, context = null) {
            const token = getToken();

            const headers = {
                'Content-Type': 'application/json',
            };

            if (token) {
                headers['Authorization'] = `JWT ${token}`;
            }

            const options = {
                method: method,
                headers: headers,
                body: context ? JSON.stringify(context) : null,
            };
            console.log(options)

            return fetch(url, options)
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        return response.json().then(errorJson => {
                            alert(JSON.stringify(errorJson))
                            throw new Error(JSON.stringify(errorJson));
                        });
                    }
                })
                .catch(error => {
                    console.error('eeeeeee', error);
                });
        }

        function verifyToken() {
            const token = getToken();

            if (token) {
                const endpoint = '/core/auth/jwt/verify/';

                makeAuthenticatedRequest(endpoint, 'POST', context = {token: token})
                    .then(response => {
                        console.log(response);
                        if (response.code === 'token_not_valid') {
                            console.log('Token not valid. User needs to log in.');
                            alert('Token not valid. User needs to log in.')

                        } else {
                            console.log('Token is valid. User is already logged in.');

                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            } else {
                console.log('No token found. User needs to log in.');
            }
        }

        window.onload = function () {
            verifyToken();
        };

        document.getElementById('commentForm').addEventListener('submit', function (event) {
            event.preventDefault();

            let subject = document.getElementById('subject')
            let message = document.getElementById('message');

            let endpoint = '/blog/blogs/{{ id }}/comments/';

            makeAuthenticatedRequest(endpoint, 'POST', context = {
                'subject': subject.value,
                'message': message.value,
            })
                .then(data => {
                    if (data) {
                        alert('Your comment has been received! It will be shown after checking')
                        document.getElementById('subject').value = '';
                        document.getElementById('message').value = '';
                    }
                })
                .catch(error => {
                    alert(error)
                    document.getElementById('dog').scrollIntoView({behavior: 'smooth'});
                    console.error('Error:', error);
                });
        });
    </script>
    <!--================Blog Area =================-->
{% endblock %}