{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% load compress %}
{% block contents %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 class="text-danger">{% trans 'Blogs' %}</h1>
                    <nav class="d-flex align-items-center">
                        <a class="text-danger" href="{% url 'front:home' %}">{% trans 'Home' %}<span
                                class="lnr lnr-arrow-right"></span></a>
                        <a class="text-danger" href="{% url 'front:blogs' %}">{% trans 'Blog' %}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->


    <!--================Blog Area =================-->
    <section class="blog_area" dir="ltr">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">

                        </article>

                    </div>
                </div>
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="pagination" id="pagin">
                        <!-- Pagination links will be added dynamically here -->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--================Blog Area =================-->
    {% compress js %}
        <script>
            const blogPerPage = 1;
            let currentPage = 1;

            function fetchblogs(page = 1) {
                let apiUrl = `/blog/blogs/?page=${page}`;
                fetch(apiUrl)
                    .then(response => response.json())
                    .then(results => {
                        const blogContainer = document.querySelector('.blog_left_sidebar');
                        blogContainer.innerHTML = '';
                        results.results.forEach(data => {
                            const article = document.createElement('article');
                            article.classList.add('row');
                            article.classList.add('blog_item');

                            article.innerHTML = `
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <ul class="blog_meta list">
                                <li><a id="author-info" class="text-capitalize m-1"><i class="lnr lnr-user"></i></a><a><i class="lnr lnr-user"></i></a></li>
                                <li><a id="updated-at" class="m-1"><i class="lnr lnr-calendar-full"></i></a><a><i class="lnr lnr-calendar-full"></i></a></li>
                                <li><a id="views-count" class="m-1"><i class="lnr lnr-eye"></i></a><a><i class="lnr lnr-eye"></i></a></li>
                                <li><a id="comments-count" class="m-1"><i class="lnr lnr-bubble"></i></a><a><i class="lnr lnr-bubble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="blog_post">
                            <img class="img-fluid" src="${data.thumbnail}" alt="" id="blog-thumbnail">
                            <div class="blog_details">
                                <a href="single-blog.html">
                                    <h2 id="blog-title">${data.title}</h2>
                                </a>
                                <a id="view_more" class="genric-btn primary">{% trans 'View More' %}</a>
                            </div>
                        </div>
                    </div>
                `;


                            blogContainer.appendChild(article);

                            document.getElementById('author-info').textContent = `${data.author.first_name} ${data.author.last_name}`
                            const options = {year: 'numeric', month: 'short', day: 'numeric'};
                            document.getElementById('updated-at').textContent = new Date(data.updated_at).toLocaleDateString(undefined, options);
                            document.getElementById('views-count').textContent = `${data.views} {% trans 'Views' %}`;
                            document.getElementById('comments-count').textContent = `${data.comments_count} {% trans 'Comments' %}`;
                            let view_more = document.getElementById('view_more')
                            view_more.addEventListener('click', () => {
                                const blogId = data.id;
                                window.location.href = `/blogs/${blogId}/`;
                            });
                        });
                        console.log(results.count)
                        updatePagination(results.count, blogPerPage);
                    })
                    .catch(error => console.error('Error fetching blog details:', error));
            }

            function updatePagination(totalBlogs, blogPerPage) {
                const totalPages = Math.ceil(totalBlogs / blogPerPage);
                {#console.log(totalBlogs)#}
                const paginationContainer = document.getElementById('pagin');
                {#console.log(paginationContainer)#}
                paginationContainer.innerHTML = '';

                for (let i = 1; i <= totalPages; i++) {
                    const pageLink = document.createElement('button');
                    pageLink.textContent = i;
                    pageLink.addEventListener('click', () => {
                        currentPage = i;
                        fetchblogs(currentPage)
                    });

                    if (i === currentPage) {
                        pageLink.classList.add('active');
                    }

                    paginationContainer.appendChild(pageLink);
                }


                if (currentPage > 1) {
                    const prevLink = createPaginationLink('prev-arrow', 'fa-long-arrow-left', currentPage - 1);
                    paginationContainer.insertBefore(prevLink, paginationContainer.firstChild);
                }

                if (currentPage < totalPages) {
                    const nextLink = createPaginationLink('next-arrow', 'fa-long-arrow-right', currentPage + 1);
                    paginationContainer.appendChild(nextLink);
                }
            }

            function createPaginationLink(className, iconClass, page) {
                const link = document.createElement('button');
                link.classList.add(className);
                link.addEventListener('click', () => {
                    currentPage = page;
                    fetchblogs(currentPage)
                });

                const icon = document.createElement('i');
                icon.classList.add('fa');
                icon.classList.add(iconClass);
                link.appendChild(icon);

                return link;
            }

            fetchblogs()
        </script>
    {% endcompress %}
{% endblock %}