{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% block contents %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 class="text-danger">{% trans 'Shopping Cart' %}</h1>
                    <nav class="d-flex align-items-center">
                        <a class="text-danger" href="{% url 'front:home' %}">{% trans 'Home' %}<span
                                class="lnr lnr-arrow-right"></span></a>
                        <a class="text-danger" href="{% url 'front:cart' %}">{% trans 'Cart' %}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">{% trans 'Product' %}</th>
                            <th scope="col">{% trans 'Price' %}</th>
                            <th scope="col">{% trans 'Quantity' %}</th>
                            <th scope="col">{% trans 'Total' %}</th>
                            <th scope="col">{% trans 'Delete' %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <td>
                            <h5>{% trans 'Total Price' %} : </h5>
                        </td>
                        <td>
                            <h5 id="totalP" class="font-weight-bold"></h5>
                        </td>

                    </table>

                    <div class=" d-flex align-items-center">
                        <input id="discount-code-input" class="input-text m-3" type="text"
                               placeholder="{% trans 'Coupon Code' %}">
                        <br>
                        <button id="apply-discount-btn" class="genric-btn info circle"
                                href="#">{% trans 'Apply' %}</button>
                    </div>

                    <div class=" d-flex align-items-center ">
                        <a class="genric-btn success circle"
                           href="{% url 'front:products' %}">{% trans 'Continue Shopping' %}</a>
                        <p class="genric-btn primary circle my-0 mx-3" id="order">{% trans 'Proceed to checkout' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
    {#    {% compress js %}#}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let cartId = localStorage.getItem("cartId");

            if (!cartId) {
                createCart();
            } else {
                fetchCartItems(cartId);
            }
            document.querySelector("#apply-discount-btn").addEventListener("click", function (event) {
                event.preventDefault();
                let discountCode = document.querySelector("#discount-code-input").value;
                applyDiscount(cartId, discountCode);
            });
        });

        function applyDiscount(cartId, discountCode) {
            fetch(`/api-v1/cart/${cartId}/apply_discount/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    discount_code: discountCode
                })
            })
                .then(response => {
                    if (response.ok) {
                        alert('Discount applied!')
                        fetchCartItems(cartId);

                    } else {
                        response.json().then(response => {
                            alert(`Failed to apply discount: ${response.error}`,)
                            console.error("Failed to apply discount:", response.statusText);
                        })
                    }
                })
                .catch(error => console.error("Error applying discount:", error));
        }

        function createCart() {
            let endpoint = "/api-v1/cart/"
            makeAuthenticatedRequest(endpoint, 'POST')
                .then(response => {
                    localStorage.setItem("cartId", response.id);
                    fetchCartItems(response.id);
                });
        }

        function fetchCartItems(cartId) {
            fetch(`/api-v1/cart/${cartId}/`)
                .then(response => response.json())
                .then(data => {
                    populateCartTable(data);
                })
                .catch(error => console.error("Error fetching cart items:", error));
        }

        function populateCartTable(cartItem) {
            const tableBody = document.querySelector("tbody");
            tableBody.innerHTML = "";
            let cartItems = cartItem.items
            cartItems.forEach(item => {
                const row = document.createElement("tr");

                row.innerHTML = `
                <td>
                    <div class="media">

                        <div class="media-body">
                            <p>${item.product.title}</p>
                        </div>
                    </div>
                </td>
                <td><h5>${item.product.price}</h5></td>
                <td dir="ltr">
                    <div class="product_count">
                        <input id="quantity-${item.id}" type="text" name="qty" maxlength="12" value="${item.quantity}" title="Quantity:" class="input-text qty">
                        <button class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                        <button class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                    </div>
                </td>
                <td><h5>${item.total_price}</h5></td>
                <td><button class="genric-btn danger circle delete-button">{% trans 'Delete' %}</button></td>
            `;

                row.querySelector(".increase").addEventListener("click", () => {
                    updateQuantity(item.id, parseInt(document.getElementById(`quantity-${item.id}`).value) + 1);
                });

                row.querySelector(".reduced").addEventListener("click", () => {
                    const newQuantity = parseInt(document.getElementById(`quantity-${item.id}`).value) - 1;
                    if (newQuantity > 0) {
                        updateQuantity(item.id, newQuantity);
                    }
                });
                row.querySelector(".delete-button").addEventListener("click", () => {
                    deleteCartItem(item.id);
                });

                tableBody.appendChild(row);
            });
            let totalP = document.getElementById('totalP');
            if (cartItem.org_price !== cartItem.total_price) {
                totalP.innerHTML = `<span class="text-danger border-danger" style="text-decoration: line-through;
font-weight: bold;">${cartItem.org_price}</span><br>     ${cartItem.total_price}`;
            } else {
                totalP.textContent = cartItem.total_price;
            }
        }

        function updateQuantity(itemId, newQuantity) {
            const cartId = localStorage.getItem("cartId");
            fetch(`/api-v1/cart/${cartId}/items/${itemId}/`, {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    quantity: newQuantity
                })
            })
                .then(response => {
                    if (response.ok) {
                        fetchCartItems(cartId);
                    } else {
                        console.error("Failed to update quantity:", response.statusText);
                    }
                })
                .catch(error => console.error("Error updating quantity:", error));
        }

        function deleteCartItem(itemId) {
            const cartId = localStorage.getItem("cartId");
            fetch(`/api-v1/cart/${cartId}/items/${itemId}/`, {
                method: "DELETE"
            })
                .then(response => {
                    if (response.ok) {
                        fetchCartItems(cartId);
                    } else {
                        console.error("Failed to delete item:", response.statusText);
                    }
                })
                .catch(error => console.error("Error deleting item:", error));
        }

        let order = document.getElementById("order")
        order.addEventListener('click', function () {
            verifyToken();
            createOrder();
        });

        function getToken() {
            return localStorage.getItem('JWT');
        }

        function makeAuthenticatedRequest(url, method, context = null) {
            const token = getToken();
            const headers = {
                'Content-Type': 'application/json',
            };

            if (token) {
                headers['Authorization'] = `JWT ${token}`;
            }

            const options = {
                method: method,
                headers: headers,
                body: context ? JSON.stringify(context) : null,
            };

            return fetch(url, options)
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        return response.json().then(errorJson => {
                            alert(JSON.stringify(errorJson))
                            throw new Error(JSON.stringify(errorJson));
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function verifyToken() {
            const token = getToken();

            if (token) {
                const endpoint = '/core/auth/jwt/verify/';

                makeAuthenticatedRequest(endpoint, 'POST', context = {token: token})
                    .then(response => {
                        console.log(response);
                        if (response.code === 'token_not_valid') {
                            console.log('Token not valid. User needs to log in.');
                            alert('Token not valid. User needs to log in.')
                            window.location.href = '/login/';
                        } else {
                            console.log('Token is valid. User is already logged in.');
                        }
                    });
            } else {
                console.log('No token found. User needs to log in.');
                alert('No token found. User needs to log in.')
                window.location.href = '/login/';
            }
        }

        function createOrder() {
            const endpoint = '/api-v1/orders/';
            let cart_id = localStorage.getItem("cartId")
            console.log('cart_id', cart_id)
            makeAuthenticatedRequest(endpoint, 'POST', {
                cart_id: cart_id
            })
                .then(response => {
                    console.log('get response here 1')
                    console.log(response)
                    if (response) {
                        console.log('Order Create');
                        alert('Order Create Pay Now');
                        let order_id = response.id
                        let amount = response.total_price
                        const paymentEndpoint = '/api-v1/orders/' + order_id + '/payment-request/'
                        makeAuthenticatedRequest(paymentEndpoint, 'POST')
                            .then(paymentResponse => {
                                console.log(paymentResponse)
                                let Authority = paymentResponse.Authority
                                let redirect = paymentResponse.redirect
                                const verifyPaymentEndpoint = '/api-v1/payment-verify/'
                                console.log(verifyPaymentEndpoint)
                                console.log(order_id)
                                console.log(amount)
                                console.log(Authority)
                                console.log(redirect)
                                window.open(redirect, '_blank');
                                alert('PAY NOW')
                                makeAuthenticatedRequest(verifyPaymentEndpoint, 'POST', {
                                    order_id: order_id,
                                    total_price: amount,
                                    Authority: Authority
                                })
                                    .then(verifyResponse => {
                                        console.log(verifyResponse)
                                        alert(verifyResponse.details)
                                        window.location.href = `/order-detail/${order_id}/`
                                    })
                            })
                    }
                    console.log('end of it')
                })

                .catch(error => {
                    console.error(error);
                });

        }


    </script>

{% endblock %}