{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block contents %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 class="text-danger" >{% trans 'Login/Register' %}</h1>
                    <nav class="d-flex align-items-center">
                        <a class="text-danger"  href="">{% trans 'Home' %}<span class="lnr lnr-arrow-right"></span></a>
                        <a class="text-danger"  href="">{% trans 'Login/Register' %}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <h6 id="errorMessage" class="btn-danger text-white text-center p-2"></h6>
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                        <div class="hover">
                            <h4>{% trans 'New to our website?' %}</h4>
                            <p>{% trans 'There are advances being made in science and technology everyday, and a good example of this is the' %}</p>
                            <a class="primary-btn" href="{% url 'front:register' %}">{% trans 'Create an Account' %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>{% trans 'Log in to enter' %}</h3>
                        <form class="row login_form" action="" method="post" id="loginForm" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="phone_number" name="phone_number"
                                       placeholder="{% trans 'Username' %}" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = '{% trans 'Username' %}'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="{% trans 'Password' %}" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = '{% trans 'Password' %}'">
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">{% trans 'Log In' %}</button>
                                <a href="">{% trans 'Forgot Password?' %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function displayErrorMessage(message) {
        const errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.textContent = message;
    }

            function getToken() {
                return localStorage.getItem('JWT');
            }

             function makeAuthenticatedRequest(url, method, context = null) {
                const token = getToken();

                const headers = {
                    'Content-Type': 'application/json',
                };

                if (token) {
                    headers['Authorization'] = `JWT ${token}`;
                }

                const options = {
                    method: method,
                    headers: headers,
                    body: context ? JSON.stringify(context) : null,
                };
                console.log(options)

                return fetch(url, options)
                    .then(response => {
                        console.log(response)
                        if (response.ok) {
                        return response.json()}
                        else {
                            return response.json().then(errorJson => {
                                throw new Error(JSON.stringify(errorJson));
                            });
                        }
                    })
                    .catch(error => {
                        displayErrorMessage(error);
                        console.error('eeeeeee',error);
                    });
            }

            function verifyToken() {
                const token = getToken();

                if (token) {
                    const endpoint = '/core/auth/jwt/verify/';

                    makeAuthenticatedRequest(endpoint, 'POST', context = {token: token})
                        .then(response => {
                            console.log(response);
                            if (response.code === 'token_not_valid') {
                                console.log('Token not valid. User needs to log in.');
                                localStorage.removeItem('JWT');
                            }
                            else {
                                console.log('Token is valid. User is already logged in.');
                                alert('Token is valid. User is already logged in.')
                                window.location.href = '/';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                } else {
                    console.log('No token found. User needs to log in.');
                }
            }
            window.onload = function () {
                verifyToken();
            };
            document.getElementById('loginForm').addEventListener('submit', function (event) {
                event.preventDefault();

                phone_number = document.getElementById('phone_number')
                password = document.getElementById('password')

                console.log(phone_number.value)
                console.log(password.value)
                let endpoint = '/core/auth/jwt/create/';

                makeAuthenticatedRequest(endpoint, 'POST', context = {
                    'phone_number': phone_number.value,
                    'password': password.value
                })
                    .then(data => {
                        console.log(data);

                        let jwtToken = data.access;

                        localStorage.setItem('JWT', jwtToken);
                        console.log('JWT token set:', jwtToken);
                        verifyToken();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        </script>
    </section>
    <!--================End Login Box Area =================-->

{% endblock %}
