{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% block contents %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 class="text-danger">{% trans "Shop" %}</h1>
                    <nav class="d-flex align-items-center">
                        <a class="text-danger" href="{% url 'front:home' %}">{% trans "Home" %}<span
                                class="lnr lnr-arrow-right"></span></a>
                        <a class="text-danger" href="{% url 'front:products' %}">{% trans "Shop" %}<span
                                class="lnr lnr-arrow-right"></span></a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- End Banner Area -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">{% trans "Browse Collections" %}</div>
                    <ul class="main-categories">
                        {# collections will be dynamically added here using JavaScript #}
                    </ul>
                </div>
                <div class="sidebar-filter mt-50">
                    <div class="head">{% trans "Filters" %}</div>
                    <ul class="common-filter">

                    </ul>

                    <div class="common-filter">
                        <h5 class="head">{% trans 'Price' %}</h5>
                        <div class="price-range-area">
                            <div id="price-range"></div>
                            <div class="value-wrapper d-flex">
                                <h5 class="price">{% trans 'Price:' %}</h5>
                                <h6>$</h6>
                                <h6 id="lower-value"></h6>
                                <h6 class="to">{% trans 'to' %}</h6>
                                <h6>$</h6>
                                <h6 id="upper-value"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div>
                        <div class="">
                            <div id="sortingggDropdown">
                                <button value="default">{% trans "Default sorting" %}</button>
                                <button value="price_asc">{% trans "Price: Low to High" %}</button>
                                <button value="price_desc">{% trans "Price: High to Low" %}</button>
                                <button value="best_sales">{% trans "Best Sales" %}</button>
                            </div>
                        </div>
                        <br>
                        <div id="seccondhand">
                            <button value="true">{% trans "Second hand Only" %}</button>
                            <button value="false">{% trans "New Only" %}</button>
                        </div>

                        <br>
                        <button id="compare-button">{% trans "Compare" %}</button>
                    </div>
                </div>
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div>
                        <div class="">
                            <div id="Filters">
                                <h2 class="text-white">{% trans 'Current Filters' %}</h2>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row" id="productContainer">
                        {#                         products will be dynamically added here using JavaScript #}
                    </div>
                </section>
                <!-- End Best Seller -->
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="pagination" id="paginationContainer">
                        <!-- Pagination links will be added dynamically here -->
                    </div>
                </div>
                <!-- End Filter Bar -->
            </div>
        </div>
    </div>



    <script type="text/javascript">

        let currentCollectionsId = null;
        let currentUnitPriceGt = null;
        let currentUnitPriceLt = null;
        let currentSearch = null;
        let currentOrdering = null;
        let currentFeatureKey = null;
        let currentFeatureValue = null;
        let currentSecondHand = null;

        let selectedProducts = [];
        console.log(selectedProducts)
        const compareButtonClicked = (productId) => {
            const index = selectedProducts.indexOf(productId);
            if (index === -1) {
                selectedProducts.push(productId);
            } else {
                selectedProducts.splice(index, 1);
            }
            console.log('Selected products:', selectedProducts);
        }

        function createSocialInfo(iconClass, text, moreClass = null) {
            const socialInfo = document.createElement('button');
            socialInfo.classList.add('social-info');

            const iconSpan = document.createElement('span');
            iconSpan.classList.add(iconClass);
            iconSpan.classList.add(moreClass);

            const hoverText = document.createElement('p');
            hoverText.classList.add('hover-text');
            hoverText.textContent = text;

            socialInfo.appendChild(iconSpan);
            socialInfo.appendChild(hoverText);

            return socialInfo;
        }

        const productsPerPage = 2;
        let currentPage = 1;

        function fetchProducts(page = 1, selectedOption = 'updated_at', collectionsId = null, unit_price__gt = null,
                               unit_price__lt = null, search = null, feature_key = null, feature_value = null, secondhand = null) {
            let apiUrl = null
            apiUrl = `/api-v1/products/?page=${page}&ordering=${getSortingOrdering(selectedOption)}`;

            if (collectionsId != null) {
                apiUrl += `&collection_id=${collectionsId}`;
                addFilterToCurrentFilters('{% trans 'Collection' %}', collectionsId);
            }
            if (selectedOption != null) {
                apiUrl += `&ordering=${getSortingOrdering(selectedOption)}`;
                addFilterToCurrentFilters('{% trans 'Ordering' %}', selectedOption);
            }
            if (unit_price__gt != null) {
                apiUrl += `&unit_price__gt=${unit_price__gt}`;
                addFilterToCurrentFilters('{% trans 'Price Greater Than' %}', unit_price__gt);
            }
            if (unit_price__lt != null) {
                apiUrl += `&unit_price__lt=${unit_price__lt}`;
                addFilterToCurrentFilters('{% trans 'Price Less Than' %}', unit_price__lt);
            }
            if (search != null) {
                apiUrl += `&search=${search}`;
                addFilterToCurrentFilters('{% trans 'Search' %}', search);
            }
            if (feature_key != null) {
                apiUrl += `&feature_key=${feature_key}`;
                addFilterToCurrentFilters('{% trans 'Feature_key' %}', feature_key);
            }
            if (feature_value != null) {
                apiUrl += `&feature_value=${feature_value}`;
                addFilterToCurrentFilters('{% trans 'Feature_value' %}', feature_value);
            }
            if (secondhand != null) {
                apiUrl += `&secondhand=${secondhand}`;
                addFilterToCurrentFilters('{% trans 'SecondHand' %}', secondhand);
            }
            console.log(apiUrl)
            fetch(apiUrl)
                .then(response => response.json())
                .then(products => {
                    const productContainer = document.getElementById('productContainer');
                    productContainer.innerHTML = '';

                    products.results.forEach(product => {
                        {
                            const currentLanguage = '{{ LANGUAGE_CODE }}';
                            {#const translation = product.translations[currentLanguage] || product.translations.{{ LANGUAGE_CODE }};#}
                            const productBlock = document.createElement('div');
                            productBlock.classList.add('col-lg-4', 'col-md-6', 'single-product');

                            const productImage = document.createElement('img');
                            productImage.classList.add('img-fluid');
                            productImage.src = product.images.length > 0 ? product.images[0].image : '{% static "img/default-product.jpg" %}';
                            productImage.alt = product.title;

                            const productDetails = document.createElement('div');
                            productDetails.classList.add('product-details');

                            const productName = document.createElement('h6');
                            productName.textContent = product.title;


                            const productPrice = document.createElement('div');
                            productPrice.classList.add('price');

                            const originalPrice = document.createElement('h6');
                            originalPrice.textContent = `$${product.price.toFixed(2)}`;

                            const discountedPrice = document.createElement('h6');
                            if (product.org_price !== product.price) {
                                discountedPrice.classList.add('l-through');
                                discountedPrice.textContent = `$${product.org_price.toFixed(2)}`;
                            }

                            const productActions = document.createElement('div');
                            productActions.classList.add('prd-bottom');

                            const addToBag = createSocialInfo('ti-bag', '{% trans 'Add to bag' %}', 'ti-bag');
                            addToBag.addEventListener('click', () => {
                                const cartId = localStorage.getItem('cartId');
                                const productId = product.id;
                                const quantity = 1;
                                if (!cartId || cartId == undefined) {

                                    createCartAndAddToBag(productId);
                                } else {
                                    addToCart(cartId, productId, quantity);
                                }
                            });

                            // const addToWishlist = createSocialInfo('lnr lnr-heart', 'Wishlist');
                            {#let url = {% url 'front:products-detail' productId %}#}

                            const viewMore = createSocialInfo('lnr', '{% trans 'View more' %}', 'lnr-move');
                            viewMore.addEventListener('click', () => {
                                const productId = product.id;
                                window.location.href = `/products/${productId}/`;
                            });

                            const compare = createSocialInfo('lnr', '{% trans 'Compare' %}', 'lnr-sync');
                            compare.addEventListener('click', () => {
                                compareButtonClicked(product.id);
                            });

                            productDetails.appendChild(productName);
                            productPrice.appendChild(originalPrice);
                            if (discountedPrice.textContent.trim() !== '') {
                                productPrice.appendChild(discountedPrice);
                            }
                            productDetails.appendChild(productPrice);
                            productActions.appendChild(addToBag);
                            // productActions.appendChild(addToWishlist);
                            productActions.appendChild(viewMore);
                            productActions.appendChild(compare);

                            productBlock.appendChild(productImage);
                            productBlock.appendChild(productDetails);
                            productBlock.appendChild(productActions);

                            productContainer.appendChild(productBlock);

                            productContainer.appendChild(productBlock);
                        }
                    });

                    updatePagination(products.count, productsPerPage);
                })
                .catch(error => {
                    console.error('Error fetching products:', error);
                });

            function addFilterToCurrentFilters(filterName, filterValue) {
                const existingButton = Array.from(document.querySelectorAll('#Filters button')).find(button => {
                    return button.textContent.startsWith(`${filterName}:`);
                });

                if (existingButton) {
                    existingButton.textContent = `${filterName}: ${filterValue}`;
                    if (filterName == '{% trans 'Feature_key' %}') {
                        const elements = document.querySelectorAll('.btn.btn-sm.btn-primary.mr-2')
                        console.log(elements)
                        for (let i = 0; i < elements.length; i++) {
                            console.log(elements[i])
                            if (elements[i].textContent.includes('{% trans 'Feature_value' %}')) {
                                console.log('findddddd2')
                                elements[i].remove();
                            }
                        }
                    }
                } else {
                    switch (filterName) {
                        case '{% trans 'Collection' %}':
                            currentCollectionsId = filterValue;
                            break;
                        case '{% trans 'Ordering' %}':
                            currentOrdering = filterValue;
                            break;
                        case '{% trans 'Price Greater Than' %}':
                            currentUnitPriceGt = filterValue;
                            break;
                        case '{% trans 'Price Less Than' %}':
                            currentUnitPriceLt = filterValue;
                            break;
                        case '{% trans 'Search' %}':
                            currentSearch = filterValue;
                            break;
                        case '{% trans 'Feature_key' %}':
                            currentFeatureKey = filterValue;
                            currentFeatureValue = null;
                            break;
                        case '{% trans 'Feature_value' %}':
                            currentFeatureValue = filterValue;
                            break;
                        case '{% trans 'SecondHand' %}':
                            currentSecondHand = filterValue;
                            break;
                        default:
                            break;
                    }

                    const filtersContainer = document.getElementById('Filters');
                    const filterButton = document.createElement('button');
                    filterButton.textContent = `${filterName}: ${filterValue}`;
                    filterButton.classList.add('btn', 'btn-sm', 'btn-primary', 'mr-2');
                    filterButton.addEventListener('click', () => {
                        removeFilterFromApiUrl(filterName, filterValue);
                        if (filterName == '{% trans 'Feature_key' %}') {
                            const elements = document.querySelectorAll('.btn.btn-sm.btn-primary.mr-2')
                            console.log(elements)
                            for (let i = 0; i < elements.length; i++) {
                                console.log(elements[i])
                                if (elements[i].textContent.includes('{% trans 'Feature_value' %}')) {
                                    console.log('findddddd')
                                    filtersContainer.removeChild(elements[i]);
                                }
                            }
                        }
                        filtersContainer.removeChild(filterButton);
                        currentPage = 1;
                        fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
                    });
                    filtersContainer.appendChild(filterButton);
                }
            }


            function removeFilterFromApiUrl(filterName, filterValue) {

                switch (filterName) {
                    case '{% trans 'Collection' %}':
                        currentCollectionsId = null;
                        break;
                    case '{% trans 'Ordering' %}':
                        currentOrdering = null;
                        break;
                    case '{% trans 'Price Greater Than' %}':
                        currentUnitPriceGt = null;
                        break;
                    case '{% trans 'Price Less Than' %}':
                        currentUnitPriceLt = null;
                        break;
                    case '{% trans 'Search' %}':
                        currentSearch = null;
                        break;
                    case '{% trans 'Feature_key' %}':
                        currentFeatureKey = null;
                        currentFeatureValue = null;
                        break;
                    case '{% trans 'Feature_value' %}':
                        currentFeatureValue = null;
                        break;
                    case '{% trans 'SecondHand' %}':
                        currentSecondHand = null;
                        break;
                    default:
                        break;
                }
            }
        }

        function getToken() {
            return localStorage.getItem('JWT');
        }

        function createCartAndAddToBag(productId) {
            const token = getToken();

            let headers = {
                'Content-Type': 'application/json',
            };

            if (token) {
                headers['Authorization'] = `JWT ${token}`;
            }

            const options = {
                method: 'POST',
                headers: headers,
            };
            console.log('headers', headers)
            fetch('/api-v1/cart/',
                options
            )
                .then(response => response.json())
                .then(data => {
                    const cartId = data.id;
                    localStorage.setItem('cartId', cartId);
                    addToCart(cartId, productId, 1);
                })
                .catch(error => console.error('Error creating cart:', error));
        }

        function addToCart(cartId, productId, quantity) {
            const token = getToken();

            let headers = {
                'Content-Type': 'application/json',
            };
            if (token) {
                headers['Authorization'] = `JWT ${token}`;
            }
            {#console.log('headers', headers)#}
            fetch(`/api-v1/cart/${cartId}/items/`, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({
                    product_id: productId,
                    quantity: quantity
                })
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Item added to cart successfully');
                    } else {
                        if (response.status === 401) {
                            console.error('Unauthorized: Token may be expired or invalid');
                            localStorage.removeItem('JWT');
                        } else if (response.status === 400) {
                            response.json().then(response => {
                                alert(response[0])
                            })
                            return;
                        }
                        console.log('Failed to add item to cart:', response.statusText);
                        console.log('Failed to add item to cart:', response.status);
                        createCartAndAddToBag(productId);
                    }
                })
                .catch(error => console.error('Error adding item to cart:', error));
        }

        function updatePagination(totalProducts, productsPerPage) {
            const totalPages = Math.ceil(totalProducts / productsPerPage);
            const paginationContainer = document.getElementById('paginationContainer');
            paginationContainer.innerHTML = '';

            for (let i = 1; i <= totalPages; i++) {
                const pageLink = document.createElement('button');
                pageLink.textContent = i;
                pageLink.addEventListener('click', () => {
                    currentPage = i;
                    fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
                });

                if (i === currentPage) {
                    pageLink.classList.add('active');
                }

                paginationContainer.appendChild(pageLink);
            }


            if (currentPage > 1) {
                const prevLink = createPaginationLink('prev-arrow', 'fa-long-arrow-left', currentPage - 1);
                paginationContainer.insertBefore(prevLink, paginationContainer.firstChild);
            }

            if (currentPage < totalPages) {
                const nextLink = createPaginationLink('next-arrow', 'fa-long-arrow-right', currentPage + 1);
                paginationContainer.appendChild(nextLink);
            }
        }

        function createPaginationLink(className, iconClass, page) {
            const link = document.createElement('button');
            link.classList.add(className);
            link.addEventListener('click', () => {
                currentPage = page;
                fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
            });

            const icon = document.createElement('i');
            icon.classList.add('fa');
            icon.classList.add(iconClass);
            link.appendChild(icon);

            return link;
        }

        function getSortingOrdering(sortingOption) {
            switch (sortingOption) {
                case 'price_asc':
                    return 'unit_price';
                case 'price_desc':
                    return '-unit_price';
                case 'best_sales':
                    return 'best_sales';
                default:
                    return '-updated_at';
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.getElementById("search_input");
            searchInput.addEventListener("keypress", function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();

                    const searchQuery = searchInput.value.trim();
                    console.log(searchQuery)
                    if (searchQuery !== '') {
                        currentSearch = searchQuery
                        currentPage = 1
                        fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
                    }
                }
            });

            const lowerValue = document.getElementById('lower-value');
            const upperValue = document.getElementById('upper-value');

            let initialLowerValue = lowerValue.textContent;
            let initialUpperValue = upperValue.textContent;

            function checkForChanges() {
                if (lowerValue.textContent !== initialLowerValue) {
                    initialLowerValue = lowerValue.textContent;
                    currentUnitPriceGt = parseInt(lowerValue.textContent);
                    console.log('Changed low value:', currentUnitPriceGt);
                    currentPage = 1
                    fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
                }

                if (upperValue.textContent !== initialUpperValue) {
                    initialUpperValue = upperValue.textContent;
                    currentUnitPriceLt = parseInt(upperValue.textContent);
                    console.log('Changed high value:', currentUnitPriceLt);
                    currentPage = 1
                    fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
                }
            }

            setInterval(checkForChanges, 200);


        });
        currentPage = 1
        fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);


        const compareButton = document.getElementById('compare-button');
        compareButton.addEventListener('click', function () {
            const compareUrl = '/compare/?product_ids=' + selectedProducts.join('&product_ids=');
            window.location.href = compareUrl;
        });

        const sortingButtonsContainer = document.getElementById("sortingggDropdown");

        sortingButtonsContainer.addEventListener("click", function (event) {
            if (event.target.tagName === 'BUTTON') {
                const selectedOption = event.target.value;
                currentOrdering = selectedOption
                currentPage = 1
                fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
            }
        });

        fetch('/api-v1/collections/')
            .then(response => response.json())
            .then(data => {
                const sidebarCategories = document.querySelector('.sidebar-categories');
                const div = document.createElement('div');
                div.classList.add('head');
                div.textContent = 'Browse Collecitons'
                generateSidebarMenu(data, sidebarCategories);
            })
            .catch(error => console.error('Error fetching data:', error));

        function generateSidebarMenu(collections, parentElement) {
            const ul = document.createElement('ul');
            ul.classList.add('main-categories');

            collections.forEach(collection => {
                {#const currentLanguage = '{{ LANGUAGE_CODE }}';#}
                {#const translation = collection.translations.{{ LANGUAGE_CODE }};#}
                const li = document.createElement('li');
                li.classList.add('main-nav-list');

                const a = document.createElement('a');
                a.setAttribute('data-toggle', 'collapse');
                a.href = `#${collection.title}`;
                a.setAttribute('aria-expanded', 'false');
                a.setAttribute('aria-controls', collection.title);

                const spanArrow = document.createElement('span');
                spanArrow.classList.add('lnr', 'lnr-arrow-right');
                console.log(collection)
                console.log(collection.products_count)

                const spanTitle = document.createElement('span');
                spanTitle.innerHTML = `${collection.title} <span class="number">
                    (${collection.products_count})</span>`;

                a.appendChild(spanArrow);
                a.appendChild(spanTitle);

                a.addEventListener('click', () => {
                    currentCollectionsId = collection.id
                    currentPage = 1
                    fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
                });

                li.appendChild(a);

                li.appendChild(a);

                if (collection.children && collection.children.length > 0) {
                    generateSidebarMenu(collection.children, li);
                }

                ul.appendChild(li);
            });

            parentElement.appendChild(ul);
        }


        fetch('/api-v1/features/')
            .then(response => response.json())
            .then(data => {
                const commonFilter = document.querySelector('.common-filter');

                data.forEach(feature => {
                    {#const translation = feature.translations.{{ LANGUAGE_CODE }} || feature.translations[Object.keys(feature.translations)[0]];#}

                    const keyItem = document.createElement('li');
                    keyItem.classList.add('filter-list', 'text-capitalize', 'bold');

                    const br = document.createElement('br');

                    const keyHeader = document.createElement('h6');
                    keyHeader.style.cursor = 'pointer'
                    keyHeader.textContent = feature.key;

                    const keyProductCount = document.createElement('span');
                    keyProductCount.classList.add('number');
                    keyProductCount.textContent = `(${feature.key_product_count})`;


                    keyHeader.appendChild(keyProductCount);
                    keyItem.appendChild(keyHeader);


                    keyHeader.addEventListener('click', () => {
                        currentFeatureKey = feature.id;
                        currentFeatureValue = null;
                        currentPage = 1
                        fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
                    });

                    const valueList = document.createElement('ul');
                    valueList.classList.add('filter-list', 'text-capitalize', 'bold');

                    feature.values.forEach(value => {
                        const valueItem = document.createElement('li');
                        valueItem.classList.add('filter-list', 'text-capitalize', 'bold');

                        const valueHeader = document.createElement('h6');
                        valueHeader.style.cursor = 'pointer'
                        {#const valueTranslation = value.translations.{{ LANGUAGE_CODE }} || value.translations[Object.keys(value.translations)[0]];#}
                        valueHeader.textContent = value.value;

                        const valueProductCount = document.createElement('span');
                        valueProductCount.classList.add('number');
                        valueProductCount.textContent = `(${value.product_count})`;

                        valueHeader.appendChild(valueProductCount);
                        valueItem.appendChild(valueHeader);

                        valueItem.addEventListener('click', () => {
                            currentFeatureKey = feature.id;
                            currentFeatureValue = value.id;
                            currentPage = 1
                            fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);
                        });

                        valueList.appendChild(valueItem);
                    });

                    keyItem.appendChild(valueList);
                    commonFilter.appendChild(keyItem);
                    keyItem.appendChild(br);
                });
            })
            .catch(error => console.error('Error fetching features:', error));

        const secondHandOnlyButton = document.querySelector('#seccondhand button[value="true"]');
        const newOnlyButton = document.querySelector('#seccondhand button[value="false"]');

        secondHandOnlyButton.addEventListener('click', function () {
            currentSecondHand = true;
            fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);

        });

        newOnlyButton.addEventListener('click', function () {
            currentSecondHand = false;
            fetchProducts(currentPage, currentOrdering, currentCollectionsId, currentUnitPriceGt, currentUnitPriceLt, currentSearch, currentFeatureKey, currentFeatureValue, currentSecondHand);

        });


    </script>

{% endblock %}
