{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% block contents %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container" id="dog">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 class="text-danger">{% trans 'Product Details' %}</h1>
                    <nav class="d-flex align-items-center">
                        <a class="text-danger" href="{% url 'front:home' %}">{% trans 'Home' %}<span
                                class="lnr lnr-arrow-right"></span></a>
                        <a class="text-danger" href="{% url 'front:products' %}">{% trans 'Shop' %}<span
                                class="lnr lnr-arrow-right"></span></a>
                        <a class="text-danger" href="">{% trans 'product-details' %}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <h6 id="errorMessage" class="btn-danger text-white text-center p-2"></h6>
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3></h3>
                        <h2></h2>
                        <ul class="list">
                            <li>{% trans 'Availibility' %} : <span> In Stock</span></li>
                        </ul>
                        <p></p>
                        <div class="product_count" dir="ltr">
                            <label for="qty">{% trans 'Quantity' %}:</label>
                            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                   class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                    class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                    class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i>
                            </button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a id="addToCartBtn" class="primary-btn" href="#">{% trans 'Add to Cart' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile"
                       aria-selected="false">{% trans 'Specification' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact"
                       aria-selected="false">{% trans 'Comments' %}</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="comment_list" id="reviewList">


                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>{% trans 'Post a comment' %}</h4>
                                <form class="row contact_form" action="" method="post" id="commentForm"
                                      novalidate="novalidate">
                                    <input type="hidden" id="parentReviewId" name="parent_review" value="">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="rating" name="name"
                                                   placeholder="{% trans 'Rate' %}" min="1" max="5">
                                        </div>
                                        <div class="form-group">
                                            <input type='text' class="form-control" id="title" name="name"
                                                   placeholder="{% trans 'Title' %}">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="description" id="description" rows="1"
                                                      placeholder="{% trans 'Message' %}"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit"
                                                class="btn primary-btn">{% trans 'Post' %}</button>
                                    </div>
                                </form>
                                <div id="replyMessage" style="display: none; color: green; margin-top: 10px;">
                                    {% trans 'You are replying to a post.' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->


    <script>
        function fetchProductDetails(productId) {
            const apiUrl = `/api-v1/products/${productId}/`;

            fetch(apiUrl)
                .then(response => response.json())
                .then(productData => {
                    updateProductDetails(productData);
                    console.log(productData)
                    updateProductFeatures(productData.value_feature);
                })
                .catch(error => {
                    console.error('Error fetching product details:', error);
                });
        }

        function updateProductDetails(productData) {
            const productNameElement = document.querySelector('.s_product_text h3');
            const productPriceElement = document.querySelector('.s_product_text h2');
            const productAvailabilityElement = document.querySelector('.s_product_text ul li:nth-child(1) span');
            const productDescriptionElement = document.querySelector('.s_product_text p');
            const productQuantityInput = document.querySelector('.product_count input');
            const productImageContainer = document.querySelector('.s_Product_carousel');

            productNameElement.textContent = productData.translations.{{ LANGUAGE_CODE }}.title;
            productPriceElement.textContent = `$${productData.price.toFixed(2)}`;
            productAvailabilityElement.textContent = productData.inventory > 0 ? '{% trans 'In Stock' %}' : '{% trans 'Out of Stock' %}';
            productDescriptionElement.textContent = productData.translations.{{ LANGUAGE_CODE }}.description;

            updateProductImages(productData.images);

            productQuantityInput.value = 1;
        }

        function updateProductImages(images) {
            const productImageContainer = document.querySelector('.s_Product_carousel');

            productImageContainer.innerHTML = '';

            images.forEach(image => {
                const imgElement = document.createElement('img');
                imgElement.classList.add('img-fluid');
                imgElement.src = image.image;
                imgElement.alt = 'none';

                const singlePrdItem = document.createElement('div');
                singlePrdItem.classList.add('single-prd-item');
                singlePrdItem.appendChild(imgElement);

                productImageContainer.appendChild(singlePrdItem);
            });
        }

        function updateProductFeatures(features) {
            const featuresTableBody = document.querySelector('.tab-pane.fade tbody');
            console.log(features)
            featuresTableBody.innerHTML = '';

            features.forEach(feature => {
                console.log(feature)
                console.log(feature.key.translations.{{ LANGUAGE_CODE }}.key)
                const key = feature.key.translations.{{ LANGUAGE_CODE }}.key;
                const value = feature.value.translations.{{ LANGUAGE_CODE }}.value;

                const trElement = document.createElement('tr');
                const tdTitleElement = document.createElement('td');
                const tdValueElement = document.createElement('td');

                tdTitleElement.innerHTML = `<h5>${key}</h5>`;
                tdValueElement.innerHTML = `<h5>${value}</h5>`;

                trElement.appendChild(tdTitleElement);
                trElement.appendChild(tdValueElement);

                featuresTableBody.appendChild(trElement);
            });
        }

        const productId = {{ id }};
        fetchProductDetails(productId);
    </script>
    <script>
        function fetchProductReviews(productId) {
            const apiUrl = `/api-v1/products/${productId}/reviews/`;

            fetch(apiUrl)
                .then(response => response.json())
                .then(reviewsData => {
                    updateProductReviews(reviewsData);
                })
                .catch(error => {
                    console.error('Error fetching product reviews:', error);
                });
        }

        function updateProductReviews(reviewsData) {
            const reviewList = document.getElementById('reviewList');

            reviewList.innerHTML = '';

            reviewsData.forEach(review => {
                const reviewItem = createReviewHTML(review);
                reviewList.appendChild(reviewItem);

                // If the review has replies, add them recursively
                if (review.replies && review.replies.length > 0) {
                    const replyList = document.createElement('div');
                    replyList.classList.add('review_item', 'reply');

                    review.replies.forEach(reply => {
                        const replyItem = createReviewHTML(reply, true);
                        replyList.appendChild(replyItem);
                        // Recursive call for replies of replies
                        addNestedReplies(reply, replyList);
                    });

                    reviewList.appendChild(replyList);
                }
            });
        }

        function addNestedReplies(review, replyList) {
            if (review.replies && review.replies.length > 0) {
                const nestedReplyList = document.createElement('div');
                nestedReplyList.classList.add('review_item', 'reply', 'nested-reply');

                review.replies.forEach(reply => {
                    const nestedReplyItem = createReviewHTML(reply, true);
                    nestedReplyList.appendChild(nestedReplyItem);
                    // Recursive call for nested replies
                    addNestedReplies(reply, nestedReplyList);
                });

                replyList.appendChild(nestedReplyList);
            }
        }

        function createReviewHTML(review, isReply = false) {
            const reviewItem = document.createElement('div');
            reviewItem.classList.add('review_item');

            if (isReply) {
                reviewItem.classList.add('reply');
            }

            const mediaDiv = document.createElement('div');
            mediaDiv.classList.add('media');

            const mediaBodyDiv = document.createElement('div');
            mediaBodyDiv.classList.add('media-body');

            const ratingStars = getRatingStars(review.rating);
            mediaBodyDiv.innerHTML = `
                <h4>${review.customer.first_name} ${review.customer.last_name}</h4>
                <h5>${new Date(review.created_at).toLocaleString()}</h5>
                ${ratingStars}
                <a class="reply_btn" href="#" onclick="handleReplyButtonClick(${review.id})">{% trans 'Reply' %}</a>
            `;

            const descriptionT = document.createElement('h6');
            descriptionT.textContent = review.title;
            const descriptionP = document.createElement('p');
            descriptionP.textContent = review.description;

            mediaDiv.appendChild(mediaBodyDiv);
            reviewItem.appendChild(mediaDiv);
            reviewItem.appendChild(descriptionT);
            reviewItem.appendChild(descriptionP);

            return reviewItem;
        }

        function getRatingStars(rating) {
            const fullStars = Math.floor(rating);
            const halfStar = rating % 1 !== 0 ? '<i class="fa fa-star-half-empty"></i>' : '';
            const emptyStars = 5 - Math.ceil(rating);

            const starsHTML = '<i class="fa fa-star"></i>'.repeat(fullStars) + halfStar + '<i class="fa fa-star-o"></i>'.repeat(emptyStars);

            return starsHTML;
        }

        const productId2 = {{ id }};
        fetchProductReviews(productId2);


    </script>
    <script>
        function handleReplyButtonClick(reviewId) {
            document.getElementById('parentReviewId').value = reviewId;
            document.getElementById('commentForm').scrollIntoView({behavior: 'smooth'});

            const replyMessage = document.getElementById('replyMessage');

            document.getElementById('commentForm').addEventListener('submit', function (event) {
                const parentReviewId = document.getElementById('parentReviewId').value;

                if (parentReviewId) {
                    replyMessage.style.display = 'block';
                }
            });
        }

        function displayErrorMessage(message) {
            const errorMessageElement = document.getElementById('errorMessage');
            errorMessageElement.textContent = message;
        }

        function getToken() {
            return localStorage.getItem('JWT');
        }

        function makeAuthenticatedRequest(url, method, context = null) {
            const token = getToken();

            const headers = {
                'Content-Type': 'application/json',
            };

            if (token) {
                headers['Authorization'] = `JWT ${token}`;
            }

            const options = {
                method: method,
                headers: headers,
                body: context ? JSON.stringify(context) : null,
            };
            console.log(options)

            return fetch(url, options)
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        return response.json().then(errorJson => {
                            alert(JSON.stringify(errorJson))
                            throw new Error(JSON.stringify(errorJson));
                        });
                    }
                })
                .catch(error => {
                    console.error('eeeeeee', error);
                });
        }

        function verifyToken() {
            const token = getToken();
            console.log('verifing...')
            if (token) {
                const endpoint = '/core/auth/jwt/verify/';

                makeAuthenticatedRequest(endpoint, 'POST', context = {token: token})
                    .then(response => {
                        console.log(response);
                        if (response.code === 'token_not_valid') {
                            console.log('Token not valid. User needs to log in.');
                            alert('Token not valid. User needs to log in.')
                        } else {
                            console.log('Token is valid. User is already logged in.');

                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            } else {
                console.log('No token found. User needs to log in.');
            }
        }

        window.onload = function () {
            verifyToken();
        };
        document.getElementById('commentForm').addEventListener('submit', function (event) {
            event.preventDefault();

            let rating = document.getElementById('rating')
            let title = document.getElementById('title');
            let description = document.getElementById('description');
            let parentReviewId = document.getElementById('parentReviewId').value;

            let endpoint = '/api-v1/products/{{ id }}/reviews/';

            makeAuthenticatedRequest(endpoint, 'POST', context = {
                'rating': rating.value,
                'title': title.value,
                'description': description.value,
                'parent_review': parentReviewId
            })
                .then(data => {
                    if (data) {
                        alert('Your comment has been received! It will be shown after checking')
                        document.getElementById('rating').value = '';
                        document.getElementById('title').value = '';
                        document.getElementById('description').value = '';
                    }
                })
                .catch(error => {
                    displayErrorMessage(error)
                    document.getElementById('dog').scrollIntoView({behavior: 'smooth'});
                    console.error('Error:', error);
                });
        });
    </script>
    <script>
        document.getElementById('addToCartBtn').addEventListener('click', function (event) {
            event.preventDefault();

            const productId = {{ id }};
            const quantity = parseInt(document.getElementById('sst').value);

            let cartId = localStorage.getItem("cartId");

            if (!cartId || cartId == undefined) {

                createCart(productId, quantity);
            } else {
                addCartItem(cartId, productId, quantity);
            }
        });

        function getToken() {
            return localStorage.getItem('JWT');
        }

        function createCart(productId, quantity) {
            const token = getToken();

            let headers = {
                'Content-Type': 'application/json',
            };

            if (token) {
                headers['Authorization'] = `JWT ${token}`;
            }

            const options = {
                method: 'POST',
                headers: headers,
            };
            fetch("/api-v1/cart/", options)
                .then(response => response.json())
                .then(data => {
                    localStorage.setItem("cartId", data.id);
                    addCartItem(data.id, productId, quantity);
                })
                .catch(error => console.error("Error creating cart:", error));
        }

        function addCartItem(cartId, productId, quantity) {
            const token = getToken();

            let headers = {
                'Content-Type': 'application/json',
            };
            if (token) {
                headers['Authorization'] = `JWT ${token}`;
            }
            {#console.log(cartId, productId, quantity)#}
            fetch(`/api-v1/cart/${cartId}/items/`, {
                method: "POST",
                headers: headers,
                body: JSON.stringify({
                    "product_id": productId,
                    "quantity": quantity
                })

            })

                .then(response => {
                    if (response.ok) {
                        alert('Item added to cart successfully!');
                    } else {
                        if (response.status === 401) {
                            console.error('Unauthorized: Token may be expired or invalid');
                            alert('Unauthorized: Token may be expired or invalid')
                            localStorage.removeItem('JWT');
                        }
                        console.error('Failed to add item to cart:', response.statusText);
                        alert(`Failed to add item to cart: ${response.statusText}`)
                        createCart(productId, quantity);
                    }
                })
                .catch(error => console.error("Error adding item to cart:", error));
        }
    </script>

{% endblock %}